@model Sentence



  <div class="germanItemsDiv" id ="germanItemsDiv">

      <table>
    <tbody>
        <tr>
                @foreach (var obj in Model.GermanText.Split(" ").OrderBy(x => x.Length))
                {
                                 <td class="btn btn-success germanItem" itemid="@Guid.NewGuid().ToString()" onclick="wordClicked(this)">
                             @obj
                     </td>
                }
            <!-- Add more td elements for additional columns -->
        </tr>
    </tbody>
</table>
</div>


<div class="answerDiv" id="answerDiv">

</div>

<div class="alert alert-dismissible alert-success" hidden>
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>Well done! <i class="bi bi-hand-thumbs-up"></i></strong>
</div>

  <div class="germanTranslationDiv">
      <button type="button" class="btn btn-outline-success btn-sm"><i class="bi bi-eye"></i></button>
      <p id="germanText" style="text-align: center;" hidden>@Model.GermanText</p>
      <button type="button" class="btn btn-success btn-sm" hidden><i class="bi bi-pen"></i></button>
  </div>

  <div class="englishTranslationDiv">
      <p class="englishTranslation">@Model.EnglishTranslation</p>
  </div>

  <div class="pagination" id="paginationDiv">
    <a class="btn btn-outline-success" asp-controller="Sentences" asp-action="Previous" asp-route-sentenceID="@Model.Id">&laquo;</a>
    <a href="#" class="btn btn-success currentPage" onclick="SelectPage(this)">@Model.Id</a>
    <a class="btn btn-outline-success"  asp-controller="Sentences" asp-action="Next" asp-route-sentenceID="@Model.Id">&raquo;</a>
</div>

<script>
   var Model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model));
   var apiUrl = '/Sentences/GetPracticedValue?id=' + encodeURIComponent(@Model.Id);
</script>
<script src="@Url.Content("~/js/Book/Pagination.js")" defer></script>
<script src="@Url.Content("~/js/Book/Answer.js")" defer></script>